html {
    box-sizing: border-box
   }
   
   /* The Universal Selector */
   *, /* All elements*/
   *::before, /* All ::before pseudo-elements */
   *::after { /* All ::after pseudo-elements */
    /* height & width will now include border & padding by default
       but can be over-ridden as needed */
    box-sizing: inherit;
   }
   
   /* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
   :root {
    font-size: 62.5%
   }
   
   body {
   /* Use a system font, if none are available use an available sans-sarif   font */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('https://ae01.alicdn.com/kf/HTB18MveeZbI8KJjy1zdq6ze1VXam/Dark-fairy-lights-neon-Natural-Vintage-real-Wood-backdrop-Vinyl-cloth-High-quality-Computer-print-christmas.jpg');
    background-size: cover;
    /* height: 100vh; */
    font-family: 'Big Shoulders Stencil Display', cursive;
   }

#main-deck{
    border-radius: 3%;
    height: 30%;
}
#main-deck:hover{
    transform: scale(1.2)
}

#ppp-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    text-align: center;
    visibility: hidden;
}
.card{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 20px;
    border-radius: 5%;
}
button{
    border: rgba(210, 180, 140, 0.442) inset;
    background-color: rgba(0, 0, 0, 0.442);
    color: white;
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-size: 2rem;
}
button:hover{
    background-color: rgba(0, 0, 0, .9);
    color: white;
    transform: scale(1.2)
}
input{
    border: rgba(210, 180, 140, 0.442) inset;
    font-size: 2rem;
    font-family: 'Big Shoulders Stencil Display', cursive;
}
#question-card{
    border: none;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#ppp-grid img{
    height: 200px;
}
#question-card img{
    height: 200px;
}
#advice{
    font-size: 3rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.442);
    color: white;
    border-radius: 20%;
}
#advice:hover{
    background-color: rgba(0, 0, 0, .9);
    color: white
}
.background-color{
    background-color: rgba(0, 0, 0, 0.442);
    color: white;
    border-radius: 20%;
}
.background-color:hover{
    background-color: rgba(0, 0, 0, .9);
    color: white;
    transform: scale(1.2)
}
h1{
    background-color: rgba(0, 0, 0, 0.442);
    color: white;
    border-radius: 20%;
    font-size: 3rem;
}
h2{
    background-color: rgba(0, 0, 0, 0.442);
    color: white;
    border-radius: 20%;
    font-size: 2.5rem;
}
h1:hover{
    background-color: rgba(0, 0, 0, .9);
    color: white;
    transform: scale(1.2)
}
h2:hover{
    background-color: rgba(0, 0, 0, .9);
    color: white;
    transform: scale(1.2)
}
.card-title{
    font-size: 2rem;
}